<div id="home" class="baddies">

    <baddies-header active="home"></baddies-header>

    <div id="hero">
        <img src="/dynamicsuite/packages/baddies-home/imgs/illidan-compressed.png" alt="" class="illidan">
        <img src="/dynamicsuite/packages/baddies-home/imgs/thrall-compressed.png" alt="" class="thrall">
        <h1 class="text-baddies">Baddies</h1>
        <i class="fa fa-angle-down"></i>
    </div>

    <div id="about-container">

        <div id="about">

            <div id="about-baddies">
                <h2 class="title">About Baddies</h2>
                <p class="about-text">
                    Baddies is a semi-hardcore raiding guild that was founded on April 28th
                    of 2012. We take pride in our roots on Stormreaver, rising from trade
                    chat and pugs during the later days of Dragon Soul. During our first
                    progression tier in Mists of Pandaria, we quickly coalesced into a
                    competitive raid guild after absorbing two guilds from on-server.
                    Following Mists, we've progressed upwards into a top US guild and
                    remained there through the years. Since Battle for Azeroth, we've reduced
                    our raiding hours down to 9 hours per week while still maintaining a respectable
                    position around top 100 in the US rankings.
                    <br><br>
                    At Baddies, we take pride in being a competitive environment where
                    skill is the sole determining factor when it comes to our raid spots.
                    We have no senior positions or core members. We work together to kill
                    bosses and it is the expectation that everyone from the officers to
                    the trials will contribute to every kill we get. We realize that if this
                    game isn't fun as a team, it's not worth playing. We don't tolerate big
                    egos, exclusive cliques, or people who can't take criticism. We don't
                    expect you to have raid ready alts for splits. With our
                    new lighter schedule, we shoot for being the best we can be, and will
                    continue to strive for that in the coming years.
                </p>
            </div>

            <baddies-progression></baddies-progression>

            <div id="meet-the-team">

                <h2 class="title">
                    Meet The Team
                </h2>

                <div class="officers">

                    <div class="officer">
                        <div class="image"></div>
                        <div class="title">
                            <h3>Bigpapi</h3>
                            <h4>GM + Raid Lead</h4>
                        </div>
                        <div class="about">
                            I'm the Guildmaster of Baddies, having formed it back in 2012.
                            I've seen Baddies through every high and low it's gone through,
                            and the 200-odd core raiders we've had since then. Baddies has been,
                            is, and hopefully will be for a while to come, a big part of my life.
                            From yearly live-streamed guild dinners at my Blizzcon rental to the average raid nights,
                            my goal is to provide a progression experience that you will look fondly back
                            upon through a combination of mutual respect, a raid roster based solely
                            on skill, and the love and care only the biggest papi can provide.
                        </div>
                    </div>

                    <div class="officer">
                        <div class="image"></div>
                        <div class="title">
                            <h3>Cortana</h3>
                            <h4>Officer</h4>
                        </div>
                        <div class="about">
                            Cortana has revolutionized Baddies since he claimed his officer role. Coming from Blood
                            Legion and using the lessons he learned there, Cortana has taken our team-oriented
                            atmosphere to the next level. From our raiders participating deeply in the app and trial
                            process to the way we look at boss strategies, the "20 brains are better than 3" approach
                            he's pushed has really taken the guild a step further. He current serves as a support role
                            analyzing performance, helping with our weekly comps, and working on strategies.
                        </div>
                    </div>

                    <div class="officer">
                        <div class="image"></div>
                        <div class="title">
                            <h3>Lethim</h3>
                            <h4>Officer</h4>
                        </div>
                        <div class="about">
                            Initially raiding with us beginning in Blackrock Foundry, Lethim taken the mantle of officer
                            multiple times in his tenure at Baddies, initially in a support role, then raid leading,
                            and now as the back-up raid lead and the general support role he initially started with. As
                            the longest serving officer of Baddies, I rely on his dry, surly takes for all manner of
                            decisions in the guild. If he ever gets uppity with you, just remind him all his ranks aren't
                            pink on Warcraft Logs for median parses yet.
                        </div>
                    </div>

                    <div class="officer">
                        <div class="image"></div>
                        <div class="title">
                            <h3>Hunter</h3>
                            <h4>Sales + Spreadsheets</h4>
                        </div>
                        <div class="about">
                            Hunter doesn't actually raid with us, but he makes up for being useless in raid by being
                            probably the most-useful officer out of raid as our sales officer and my administrative aid.
                            Hunter is the reason our raider's were all able to afford a Brutosaur in Nya'lotha. He's also
                            the reason I haven't committed ritual suicide yet. From managing our Discord to being a retard
                            in it, Hunter has you covered.
                        </div>
                    </div>

                    <!--
                    <div class="officer">
                      <div class="image"></div>
                      <div class="title">
                        <h3>Frownyface</h3>
                        <h4>Performance Analysis</h4>
                      </div>
                      <div class="about">
                        Frowny joined in Uldir and has been one of our top performers
                        for the expansion. He's since stepped up to help us as an
                        officer focused on improving the roster and pushing everyone
                        to be better. Now, if he could only stop those kids from
                        stealing his lucky charms...
                      </div>
                    </div>


                    <div class="officer">
                      <div class="image"></div>
                      <div class="title">
                        <h3>Eureka</h3>
                        <h4>Recruitment</h4>
                      </div>
                      <div class="about">
                        Eureka joined us via the Death Penalty absorbtion. She's quickly
                        made herself known as a dependable, mechanics driven raider, who
                        has stepped up to server on our loot council during early BoD.
                        These days, Eureka serves as our recruitment officer, finding us
                        quality recruits to push our US rank ever-upward.
                      </div>
                    </div>
                    <div class="officer">
                      <div class="image"></div>
                      <h3 class="title">Lethim</h3>
                      <div class="about">
                        Lethim joined the guild in Blackrock Foundry.
                        He is our raid leader.
                        He uses dry wit and sarcasm to cover up what many suspect to be
                        a very warm heart, but I cannot confirm or deny anything. His
                        calm, collected style of leadership in raid has been the
                        perfect match for our raid, and I rely on that same mentality
                        for his input on all guild matters.
                      </div>
                    </div>

                    <div class="officer">
                      <div class="image"></div>
                      <h3 class="title">Zephrr</h3>
                      <div class="about">
                        Zephrr is one of the most valuable officers I've ever had.
                        Her can-do attitude, unlimited patience, and mechanical skill
                        makes her a force to be reckoned with, whether it's in or
                        outside of raid. Were I to suddenly perish in an unfortunate
                        smelting accident, she is who I would count on to take the
                        reigns.
                      </div>
                    </div>
                      -->

                </div>

            </div>

        </div>

    </div>

</div>